@use 'variables' as vars;

@font-face {
  font-family: vars.$body-font-family;
  src: url(../fonts/Economica-Regular.ttf);
}

@font-face {
  font-family: vars.$title-font-family;
  src: url(../fonts/BungeeInline-Regular.ttf);
}
