// Position
.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

// Height
.h-auto {
  height: auto;
}

.h-full {
  height: 100%
}

.h-screen {
  height: 100vh;
}

.min-h-full	{
  min-height: 100%;
}

.min-h-screen	{
  min-height: 100vh;
}

// Width
.w-auto {
  width: auto;
}

.w-full	{
  width: 100%;
}

.w-screen	{
  width: 100vw;
}

.min-w-full	{
  min-width: 100%;
}
